/HolaMundo/nbproject/private/
/HolaMundo/build/
/DatosPrimitivos/nbproject/private/
/DatosPrimitivos/build/
/DatosNoPrimitivos/nbproject/private/
/Constantes/nbproject/private/
/OperacionesBasicas/nbproject/private/
/JavaApplication13/nbproject/private/
/JavaApplication14/nbproject/private/
/JavaApplication15/nbproject/private/
/Numeroalcuadrado/nbproject/private/
/WhilePositivo/nbproject/private/
/WhilePositivo/build/
/DoWhilePassword/nbproject/private/
/DoWhilePassword/build/
/TabladeMultiplicar/nbproject/private/
/ImprimirPalabra/nbproject/private/
/SumaFor/nbproject/private/
/WhileSuma100/nbproject/private/
/Salirwhile/nbproject/private/
/SumaPareswhile/nbproject/private/
/FizzBuzz/nbproject/private/
/adivinarnumero/nbproject/private/
/PalabrasWhile/nbproject/private/
/ContarLetras/nbproject/private/
