/HolaMundo/nbproject/private/
/HolaMundo/build/
/DatosPrimitivos/nbproject/private/
/DatosPrimitivos/build/
/DatosNoPrimitivos/nbproject/private/
/Constantes/nbproject/private/
/OperacionesBasicas/nbproject/private/
